# Dependencies
node_modules/
.npm

# Environment variables
.env
.env.*
!.env.example

# Build outputs
dist/
dist-ssr/
*.tgz

# Vite
.vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# TypeScript
*.tsbuildinfo

# Prisma
**/src/generated/prisma/

# ESLint
.eslintcache

# Tests
coverage/

# Logs
*.log

# OS files
.DS_Store
.AppleDouble
.LSOverride

# IDE
.vscode/
.idea/
*.sw?
